.headerFont{font-size: 36px;
font-weight: bold;}

.loginLabel{
	font-size: 24px;
	font-weight:bold;

}

.w3-bar-item{
	font-style: italic;
  left: 50%;
}
.titleImage{
	max-width: 100%;
}

.add-button{
    background-color: #FFFFFF; /* Green */
   border-radius: 4px;
   border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
   margin: 5px;
}
.w3-button{margin:10px;}
.add-button2{
    background-color: #FFFFFF; /* Green */
   border-radius: 4px;
   border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 10px;
}

.block{display:block;}


@media only screen and (max-width: 600px) {
    .headerStuff {
	justify-content: center;
	flex-direction: column;
    }

    .headerBarSize{
	size: 100%;
    }

    .dashboardMapSize{
	size: 100%;
    }
}

